<div class="mt-5 px-2">
    <div class="row mb-5 justify-content-center">
        <h1 class="mb-0">
            <span>App Title</span></h1>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <ul class="nav nav-tabs" role="tablist" id="loginTab">
                <li class="nav-item">
                    <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-form" role="tab" aria-controls="login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-form" role="tab" aria-controls="register" aria-selected="false">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="tab-content col-lg-4 col-md-6 col-sm-12" id="loginTabContent">
            <div class="tab-pane fade show active" id="login-form" role="tabpanel" aria-labelledby="login-tab">
                <app-login></app-login>
            </div>
            <div class="tab-pane fade" id="register-form" role="tabpanel" aria-labelledby="register-tab">
                <app-register></app-register>
            </div>
        </div>
    </div>
</div>