<app-spinner [hidden]="!loading" class="mt-5" [size]="400"></app-spinner>
<form name="mainForm" #mainForm="ngForm" (ngSubmit)="login()" [hidden]="loading" [ngClass]="{'was-validated':submitted}" novalidate>
    <div class="form-group my-2">
        <input name="fEmail" type="email" class="form-control form-control-lg" [(ngModel)]="email" placeholder="Email Address" required>
        <div class="invalid-feedback">
            Please enter your email address.
        </div>
    </div>
    <div class="form-group my-2">
        <input name="fPassword" type="password" class="form-control form-control-lg" [(ngModel)]="password" placeholder="Password" required>
        <div class="invalid-feedback">
            Please enter your password.
        </div>
    </div>
    <div class="form-group mb-4">
        <span class="switch">
            <input name="fRememberMe" type="checkbox" class="switch" id="remember-me-id" [(ngModel)]="rememberMe">
            <label for="remember-me-id">Remember Me</label>
        </span>
    </div>
    <div *ngIf="hasErrors" class="alert alert-danger">
        <div>
            <span>Invalid email address or password.</span>
        </div>
        <div>
            <button class="btn btn-link p-0" type="button">Forgot my password</button>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</button>
</form>