@import url('https://fonts.googleapis.com/css?family=Bungee');

body {
    overflow-x: hidden;
}

.btn {
    cursor: pointer;
}

.btn-primary {
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
}

.btn-primary:hover {
    background-color: #1E88E5 !important;
}

.btn-success {
    background-color: #66BB6A !important;
    border-color: #66BB6A !important;
}

.btn-success:hover {
    background-color: #4CAF50 !important;
}

.btn-danger {
    background-color: #e74c3c !important;
    border-color: #e74c3c !important;
}

.btn-danger:hover {
    background-color: #f44336 !important;
}

.btn:disabled {
    cursor: not-allowed;
}

.bg-danger-lite {
    background-color: #212121 !important;
}

.text-success-lite {
    color: #66BB6A !important;
}