<div class="fingerprint-spinner mx-auto my-auto" 
    [style.height]="size"
    [style.width]="size"
    [style.padding]="padding">
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="primaryColor"></div>
    <div class="spinner-ring" [style.border-top-color]="altColor"></div>
</div>